/* =========================================================
   PILIH UMKM
   ========================================================= */

/*popup-pilih-umkm.css*/
.content-popup-pilih-umkm {
    padding: var(--card-padding);
    border-radius: 12px;
    background: var(--color-background);

    width: 80vw;
    height: 77vh;

    transform: translateY(-60px);
    transition: transform .25s ease;
}

.popup.show .content-popup-pilih-umkm{
    transform: translateY(0);
}

.tabel-card-popup-pilih-umkm {
    height: 51vh;
}

.pilih-umkm-row:hover td {
    color: var(--color-primary);
    transform: translateX(6px);
}
