/* =========================================================
   POPUP CETAK ORDERAN
   ========================================================= */

/*popup-cetak-orderan.css*/
.content-popup-cetak-orderan {
    padding: var(--card-padding);
    border-radius: 12px;
    background: var(--color-background);

    width: min(85vw, 1400px);
    height: 82.5vh;

    max-height: 90vh;

    box-sizing: border-box;
    overflow-y: auto;
}
.popup-cetak-orderan-grid-kiri,
.popup-cetak-oreran-grid-kanan {

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
