/* =========================================================
   POPUP CETAK ORDERAN
   ========================================================= */

/*popup-cetak-orderan.css*/
.content-popup-cetak-orderan {
    padding: var(--card-padding);
    border-radius: 12px;
    background: var(--color-background);

    width: 90rem;
    max-width: 90vw;

    height: min(58rem, 90vh);
    max-height: 90vh;

    box-sizing: border-box;
    overflow-y: auto;
}
