/* ===========================================================
   PRINT PAGE
   =========================================================== */

@page{
    margin:0;
}

html,
body{

    margin:0;
    padding:0;

    overflow:hidden;

    width:100%;
    height:100%;
}

/* ===========================================================
   PAGE
   =========================================================== */

.print-page{

    position:relative;

    width:100%;
    height:100%;

    margin:0;
    padding:0;
}

/* ===========================================================
   IMAGE
   =========================================================== */

.print-image{

    position:absolute;

    display:block;

    margin:0;
    padding:0;

    image-rendering:auto;
}

/* ===========================================================
   PRINT
   =========================================================== */

@media print{

    html,
    body{

        margin:0;
        padding:0;
    }

}