/* =========================================================
   ACTIONS
   ========================================================= */

/* ----------------- ACTIONS ----------------- */

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.actions button{

    width: 35px;
    height: 35px;

    border-radius: var(--border-radius-1);
}

.actions button span{
    font-size: 1.1rem;
}
