/* =========================================================
   TABLE
   ========================================================= */

/* ----------------- TABLE ----------------- */
table th,
table td {
    padding: 0 0;
}

table {
    border-collapse: separate;
    border-spacing: 0 0;
}

.table-page-container {
    height: 82vh;
    background: var(--color-white);
    padding: var(--card-padding);
    padding-bottom: 1rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;

}

.table-popup-pilih {
    height: 60vh;
    background: var(--color-white);
    padding: var(--card-padding);
    padding-bottom: 1rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.table-page-container:hover {
    box-shadow: none;
}

.tabel-page-card {
    height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    text-align: center;
}

table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
    text-align: center;
    transition: all 0.2s ease;
}

.tbl-data thead th{
    position: sticky;
    top: 0;
    z-index: 10;

    background: var(--color-white);
    cursor: pointer;
}

.selected-row{
    background:#e3f2fd;
}

/* ==========================================
   TABLE DETAIL
========================================== */
.detail-row:hover td{
    color: var(--color-primary);
    transform: translateX(6px);
}

.detail-table{
    display: none;
}

.detail-table.show{
    display: table-row;
}

.detail-content{
    position: relative;
    overflow-x: auto;
    background: transparent;

    margin-top: 0;
    padding-top: 0;
}

.detail-horizontal-table{
    width: 100%;


    border-collapse: separate;
    border-spacing: 0;


    border: var(--border-button);
    border-radius: var(--border-radius-2);

    overflow: hidden;
}

.detail-horizontal-table th,
.detail-horizontal-table td{
    padding: 6px 10px;
}

.cell-panjang {
    width: 25rem;
    white-space: normal;
    overflow-wrap: break-word;
}

.cell-alamat {
    width: 20rem;
    white-space: normal;
    overflow-wrap: break-word;
}
